@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Yatra+One&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Colors */
  --color-primary: #1337ec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101322;
  --color-card-dark: #1e2433;
  --color-card-border: #282b39;

  /* Font Family */
  --font-display: "Inter", sans-serif;

  /* Border Radius */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
